{% extends 'base.html' %}
{% load static %}


{% block title %}
TodoList
{% endblock title%}

{% block content%}
<main>
    <div>
        <h1>{{ todo_list.name }}</h1>
        <p>
            <a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
        </p>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                {% for list in todo_list.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' list.id %}">{{list.task}}</a>
                    </td>
                    <td>{{list.due_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content%}